@import "tailwindcss";

@font-face {
  font-family: "SangSangShinb7";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GabiaNull-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/GabiaNull-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.ttf") format("truetype");
}

html,
body {
  height: 100vh;
  color: #434a40;
  box-sizing: border-box;
}

/* 스크롤바 숨기면서 스크롤링 기능은 허용 */
html,
section,
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
section::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

header,
button,
div,
p,
span {
  font-family: "Apple SD Gothic Neo";
}

h1,
h2,
h3 {
  font-family: "GabiaNull-Regular";
}

/* 자주 쓰는 스타일 조합 정의  */
.flex-center {
  @apply flex justify-center items-center;
}

input,
textarea {
  outline-style: none;
}

/* 기존 input의 디자인 삭제 */
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 10px;
  height: 10px;
  background: rgb(245, 148, 109);
  border-radius: 24px;
}

ul,
li {
  margin: 0;
  /* padding: 0; */
}

button {
  cursor: pointer;
}

.bg-gray-gradient {
  /* background: radial-gradient(circle, #eeeeee 60%, #d8d8d8 90%);
  border-radius: 1rem; */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3);
}
