@import "tailwindcss";

/* @theme {
  --color-mint-500: oklch(0.72 0.11 178);
} */

/* 상상신비 - 모달 메모지 */
@font-face {
  font-family: "SangSangShinb7";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 타이틀용 - h1,h2 */
@font-face {
  font-family: "GabiaNull-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/GabiaNull-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 기본 폰트 */
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.ttf") format("truetype");
}
:root {
  --primary-color: #f5946d;
}

.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  /* default text color */
  color: #434a40;
  /* default font */
  font-family: "Apple SD Gothic Neo";
}

/* 스크롤바 숨기면서 스크롤링 기능은 허용 */
html,
section,
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
section::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

h1,
h2 {
  font-family: "GabiaNull-Regular";
}

/* 자주 쓰는 스타일 조합 정의  */
.flex-center {
  @apply flex justify-center items-center;
}

input,
textarea {
  outline-style: none;
}

/* 기존 input의 디자인 삭제 */
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 10px;
  height: 10px;
  background: rgb(245, 148, 109);
  border-radius: 24px;
}

ul,
li {
  margin: 0;
}
